* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    background: #ecebeb;
    overflow-x: hidden;
}


header {
    background: linear-gradient(90deg, rgba(5, 10, 255, 1) 18%, rgba(188, 0, 255, 1) 57%);
    height: 70px;
}


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    left: 30px;
}


.img-header {
    background: url(/Logo/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 154px;
    height: 54px;
    position: absolute;
    top: 3px;
    left: 30px;
}

.nav-busq {
    height: 34.9px;
    width: 500px;
    border: none;
    outline: 0px;
}

.nav-btn {
    position: absolute;
    border: none;
    background-color: #fff;
    height: 34.5px;
    width: 25px;
}

.nav-btn::before {
    content: "";
    display: block;
    height: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.212);
    position: absolute;
    top: 6.5px;
}

.nav-coment {
    position: relative;
    left: 130px;
}

.nav-btn>span {
    display: flex;
    align-items: center;
}

.nav-coment>p {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-size: 15px;
    font-family: 'Titan One';

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-coment>p:hover {
    cursor: default;
}

main {
    background: linear-gradient(90deg, rgba(5, 10, 255, 1) 18%, rgba(188, 0, 255, 1) 57%);
    height: 35px;
}

.nav-categ {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    bottom: 7px;
    left: 43px;
}

.categ {
    background: rebeccapurple;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.categ-2 {
    background: pink;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.categ-3 {
    background: violet;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.categ-4 {
    background: yellow;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.categ-5 {
    background: black;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.categ-6 {
    background: blue;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.categ-7 {
    background: green;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}


.nav-user {
    display: flex;
    justify-content: space-evenly;
}

.user-n {
    display: flex;
    list-style: none;
    gap: 20px;
}

.user-n>a>li {
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left: 23px;
}

.fa-solid:hover {
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-n>a>li:hover {
    color: #000;
}

.user-n>a {
    text-decoration: none;
    color: black;
}

.nav-img>img {
    position: relative;
    left: 2px;
    top: 1px;
    width: 30px;
    height: 30px;
}

.sec-objets {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 200px;
    height: 250px;
    background-color: white;
    overflow: hidden;
}

.slider-cont {
    height: 250px;
    width: 150px;
    left: 20px;
    position: relative;
}

#slider figure {
    position: relative;
    width: 100%;
    height: 99.4%;
    top: 0;
    animation: 35s slider infinite;
}

#slider figure img {
    width: 100%;
    height: 99.5%;
}

#slider figure img:hover {
    filter: drop-shadow(2px 4px 6px Gray);

}



@keyframes slider {
    0% {
        top: 0;
    }

    6.25% {
        top: 0;
    }

    12.5% {
        top: -100%;
    }

    18.75% {
        top: -100%;
    }

    25% {
        top: -200%;
    }

    31.25% {
        top: -200%;
    }

    37.5% {
        top: -300%;
    }

    42.75% {
        top: -300%;
    }

    50% {
        top: -400%;
    }

    56.25% {
        top: -400%;
    }

    62.5% {
        top: -500%;
    }

    68.75% {
        top: -500%;
    }

    75% {
        top: -600%;
    }

    81.25% {
        top: -600%;
    }

    87.5% {
        top: -700%;
    }

    93.75% {
        top: -700%;
    }

    100% {
        top: -800%;
    }

}

.contenedor-padre {
    display: flex;
    flex-direction: column;
}

.categ-art {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    height: 210px;
}

.conten-img {
    height: 190px;
}

.categ-sec {
    width: 210px;
    height: 200px;
    background: #fff;
    overflow: hidden;
}


.img-categ {
    position: relative;
    left: 45px;
    top: 30px;
    width: 144px;
    height: 142px;
}

.ul-img {
    height: 190px;
}

.ul-img li {
    height: 190px;
    list-style: none;
}

.ul-img li figure img {
    transition: all .5s;
}


.ul-img li figure:hover img:nth-child(1) {
    transform: translateY(-100%);
}

.ul-img li figure:hover img:nth-child(2) {
    transform: translateY(-100%);
}


.art-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 210px;
    height: 80px;
    background: #fff;
    overflow: hidden;
}

.art-text:hover {
    width: 210px;
    height: 90px;
    transition: all .5s;
}

.art-text::before {
    content: "";
    position: absolute;
    background: gainsboro;
    display: block;
    width: 210px;
    height: 1px;
    transition: all .5s;
}

.span-t {
    height: 15px;
    display: block;
}

.span-text {
    width: 100%;
    height: 100%;
    font-size: 15px;
    position: absolute;
    color: #fff;
}

.span-text:hover {
    color: gray;
    width: 100%;
    margin: 7px;
    height: 100%;
    transition: all .5s;
}

.span-text:hover::after {
    content: "";
    display: block;
    background: gray;
    width: 46px;
    position: absolute;
    height: 1px;
    top: 7px;
    transition: all .5s;
}


.text-h3 {
    font-size: 25px;
}

.span-tex {
    width: 82px;
}